/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*zfont-family: 'Inconsolata', monospace;*/
*{
	margin: 0;
	padding: 0;    
 

}
body{
	font-family: 'Playfair Display', serif;
      color: #626262;


}
 
 /*header start*/
 header{
 	padding: 20px 0;
 }
 .wrapper {
 	overflow: hidden;
 	margin: 0 auto;
 	width: 90%;
 	border: 1px solid red;
 	
}

.logo {
	width: 15%;
	/*border: 1px solid green;*/
	float: left;

}
.logo img{
	width: 100%;

}

.menu {
	width: 70%;
	/*border: 1px solid red;*/
	float: right;
	margin-top: 9px;

}
.menu ul{
	float: right;
}
.menu ul li{
          list-style: none;
          float: left;
         /* padding: 0 50px;*/

}
.menu ul li a{
     color: #626262;
     text-transform: uppercase;
     text-decoration: none;
     transition: .5s;
     padding: 0 50px;
     display: block;
 }
 .menu ul li:last-child a{
 	padding-right: 0;
 }
 

 .menu ul li a:hover{
 	color: #000000;
 }

  /*header end*/

  /*banner start*/
  .banner{
   }
  .b_img{

  }
  .b_img img{
  	width: 100%;
  }
   /*banner end*/

/*getaway start*/
.getaway{
	padding-top: 50px;
	padding-bottom: 50px;
}
.wrapper2{
	width: 80%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}
.g_content{}

.light{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c_title{
	font-weight: 400px;
	font-size: 30px;
	margin-top: 20px;
    margin-bottom: 30px;
}
.c_text{
	line-height: 28px;
	word-spacing: 3px;
	margin-bottom: 45px;
  }
/*getaway end*/

/*blog start*/
.blog{
	padding-top: 50px;
	padding-bottom: 50px;
}
.single{
	width: 47%;
	/*border: 1px solid black;*/
	float: left;
}

.single:nth-child(even){
	margin-left: 6%;
 }
.single img{
	width: 100%;
	margin-bottom: 20px;
}
/*blog end*/

/*newsletter start*/

.newsletter{
padding-top: 50px;
	padding-bottom: 50px;
}
/*newsletter end*/



/*blog2 start*/

 
.footer{
	padding-top: 50px;
	padding-bottom: 50px;
}
}


.privacy{
		width: 45%;
		float: left;


}
.privacy ul li{
 	          list-style: none;
	                    float: left;
	     padding: 0 5px;

 
}

.social{
		width: 45%;
		float: right;

}
.social ul{
	float: right;
	
}
.social ul li{
	          list-style: none;
	                    float: left;


}

.social ul li a{
	     padding: 0 5px;
     display: block;
}